container_commands:
# TODO: these dont work right now, why?
  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
#  02_createsu:
#    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
#    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gsa/wsgi.py
#  aws:elasticbeanstalk:application:environment:
#    DJANGO_SETTINGS_MODULE: ebdjango.settings
