{% extends "base.html" %}
{% block content %}
{% load projection_filters %}
<label class="my-1 mr-2" for="teamFilterChoice">Filter By Team:</label>
<select class="custom-select my-1 mr-sm-2" id="teamFilterChoice" onchange="tableFilter('all_keepers_table', this.id, 5)">
    {% for team in all_keepers %}
    <option value="{{team.team_name}}">{{team.team_name}}</option>
    {% endfor %}
</select>
<br/>
<h2>All Keepers</h2>
<table id="all_keepers_table" class="sortable display table table-hover">
    <thead>
    <tr>
        <th>Cost</th>
        <th>Name</th>
        <th>Team</th>
        <th>POS</th>
        <th>Status</th>
        <th>Fantasy Team</th>
    </tr>
    </thead>
    {% for team in all_keepers %}
    {% for player in team.roster %}
    <tr>
        <td>${{player.keeper_cost|floatformat}}</td>
        <td><a href="https://baseball.fantasysports.yahoo.com/b1/{{request.user.profile.main_league|get_league_no}}/playersearch?&search={{player.full_name|url_safe_spaces}}" target="_blank">{{player.full_name}}</a></td>
        <td>{{player.team}}</td>
        <td>{{player.positions}}</td>
        {% if 'DL' in player.status %}
        <td style="color:red">{{player.status}}</td>
        {% elif 'MiLB' in player.status %}
        <td style="color:blue">{{player.status}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{team.team_name}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% endblock %}