{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>grays sports almanac</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">grays sports almanac</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projections/batting">batting projections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projections/pitching">pitching projections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team_tools">team tools</a>
                </li>
            </ul>
            {% if request.user and not request.user.is_anonymous %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user">{{request.user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/registration">register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
            </ul>
            {% endif %}

            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
            <!--<div class="dropdown-menu" aria-labelledby="dropdown05">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<form class="form-inline my-2 my-md-0">-->
            <!--<input class="form-control" type="text" placeholder="Search">-->
            <!--</form>-->
        </div>
</nav>
<br/>
<br/>
<br/>


<div class="container">

    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container">-->
    <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
    <!--<span class="sr-only">toggle navigation</span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <!--<a class="navbar-brand" href="/">grays sports almanac</a>-->
    <!--</div>-->
    <!--<div id="navbar" class="collapse navbar-collapse">-->
    <!--<ul class="nav navbar-nav">-->
    <!--<li class="nav-item"><a href="/">home</a></li>-->
    <!--<li class="nav-item"><a href="/projections/batting">batting projections</a></li>-->
    <!--<li class="nav-item"><a href="/projections/pitching">pitching projections</a></li>-->
    <!--{% if request.user and not request.user.is_anonymous %}-->
    <!--<li class="nav-item"><a href="/team_tools">team tools</a></li>-->
    <!--</ul>-->

    <!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li class="nav-item"><a href="/user"><span class="glyphicon glyphicon-user"></span> {{request.user}}</a></li>-->
    <!--<li class="nav-item"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>-->
    <!--</ul>-->
    <!--{% else %}-->
    <!--<li><a href="/team_tools_html">team tools</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li class="nav-item"><a href="/registration"><span class="glyphicon glyphicon-user"></span> register</a></li>-->
    <!--<li class="nav-item"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> login</a></li>-->
    <!--</ul>-->
    <!--{% endif %}-->
    <!--&lt;!&ndash; <li class="dropdown">-->
    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">Action</a></li>-->
    <!--<li><a href="#">Another action</a></li>-->
    <!--<li><a href="#">Something else here</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li class="dropdown-header">Nav header</li>-->
    <!--<li><a href="#">Separated link</a></li>-->
    <!--<li><a href="#">One more separated link</a></li>-->
    <!--</ul>-->
    <!--</li> &ndash;&gt;-->
    <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--</nav>-->
    {% block content %}
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<footer>
    <!-- <hr> -->
    <!-- <table width=100%>
      <tr>
        <td><h3><a href="/archive">archive</a></h3></td>
        <td style="text-align: center"><h3><a href="/map">map</a></h3></td>
        <td style="text-align: right"><h3><a href="/modify_post">modify</a></h3></td>
      </tr>
    </table> -->
</footer>

</html>
