{% load static %}
{% load projection_filters %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--TODO: move these into custom CSS, this could also be improved-->
    <style>
        .dropdown-menu a:hover {
            color: black !important;
            cursor: pointer;
        }
    </style>

    <title>grays sports almanac</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">grays sports almanac</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projections/batting">batting projections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projections/pitching">pitching projections</a>
                </li>
            {% if request.user and not request.user.is_anonymous %}
                <!--TODO: improve this by only showing when the main_league is in the offseason-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../team_tools" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        team tools
                    </a>
                    <div class="dropdown-menu bg-dark border border-light" aria-labelledby="navbarDropdown">
                    {% with request.user.profile.leagues.all|current_league as lgs %}
                    {% for lg in lgs %}
                        <form action="../team_tools/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="league_key" value="{{lg.league_key}}" />
                            <a class="dropdown-item" href="#" onclick="this.parentNode.submit()" style="color:rgba(255,255,255,.5)">{{lg.league_name}} - {{lg.season}}</a>
                        </form>
                    {% endfor %}
                    {% endwith %}
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user">{{request.user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/team_tools">team tools</a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/registration">register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
            </ul>
            {% endif %}
        </div>
</nav>
<br/>
<br/>
<br/>


<div class="container">
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <!--<div id="baconIpsumOutput"></div>-->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Table Sorting -->
<script type="text/javascript" src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<!--Loading Spinner-->
<script src='https://static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
<!--TODO: move these into custom JS-->
<!--Table Filter-->
<script>
    function tableFilter(tableId, filterId, columnNumber) {
      var input, filter, table, tr, td, i;
      input = document.getElementById(filterId);
      filter = input.value.toUpperCase();
      table = document.getElementById(tableId);
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[columnNumber];
        if (td) {
          if (filter === "OF" && (td.innerHTML.toUpperCase().indexOf("LF") > -1 || td.innerHTML.toUpperCase().indexOf("CF") > -1 || td.innerHTML.toUpperCase().indexOf("RF") > -1 || td.innerHTML.toUpperCase().indexOf("OF") > -1)) {
            tr[i].style.display = "";
          } else if (filter === "C" && td.innerHTML.toUpperCase().indexOf("C") > -1) {
            if (td.innerHTML.toUpperCase().indexOf("CF") > -1) {
              tr[i].style.display = "none";
            } else {
              tr[i].style.display = "";
            }
          } else if (filter === "1" || td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
<!--Team Name Filter-->
<script>
    function objectFilterByTeamName(filterId) {
      var input, filter, filterDiv, parentDiv;
      input = document.getElementById(filterId);
      parentDiv = document.getElementById('all_keepers');

      for (var i = 0; i < parentDiv.children.length; i++) {
        parentDiv.children[i].style.display = "none";
      }

      filter = input.value;
      switch(filter) {
        case '0':
          return;
        case '1':
          for (var i = 0; i < parentDiv.children.length; i++) {
            parentDiv.children[i].style.display = "";
          }
          break;
        default:
          filterDiv = document.getElementById(filter);
          filterDiv.style.display = "";
      }
    }
</script>
<!--Projections in Tabs-->
<script>
function openProjections(evt, projectionCategory, parentDivId) {
    var i, tabcontent, tablinks, playerProjections;
    playerProjections = document.getElementById(parentDivId);
    tabcontent = playerProjections.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    if (projectionCategory === 1) {
        for (var i = 0; i < playerProjections.children.length; i++) {
            playerProjections.children[i].style.display = "";
        }
        evt.currentTarget.className += " active";
    }
    else {
        document.getElementById(projectionCategory).style.display = "block";
        evt.currentTarget.className += " active";
    }
}
</script>
<!--Spinner-->
<script >(function($) {
  $.extend({
    spin: function(spin, opts) {

      if (opts === undefined) {
        opts = {
          lines: 13, // The number of lines to draw
          length: 20, // The length of each line
          width: 10, // The line thickness
          radius: 30, // The radius of the inner circle
          corners: 1, // Corner roundness (0..1)
          rotate: 0, // The rotation offset
          direction: 1, // 1: clockwise, -1: counterclockwise
          color: '#000', // #rgb or #rrggbb or array of colors
          speed: 1, // Rounds per second
          trail: 56, // Afterglow percentage
          shadow: false, // Whether to render a shadow
          hwaccel: false, // Whether to use hardware acceleration
          className: 'spinner', // The CSS class to assign to the spinner
          zIndex: 1029, // Be sure this is behind the navbar
          top: '50%', // Top position relative to parent
          left: '50%' // Left position relative to parent
        };
      }

      var data = $('body').data();

      if (data.spinner) {
        data.spinner.stop();
        delete data.spinner;
        $("#spinner_modal").remove();
        return this;
      }

      if (spin) {

        var spinElem = this;

        $('body').append('<div id="spinner_modal" style="background-color: rgba(0, 0, 0, 0.3); width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:' + (opts.zIndex - 1) + '"/>');
        spinElem = $("#spinner_modal")[0];

        data.spinner = new Spinner($.extend({
          color: $('body').css('color')
        }, opts)).spin(spinElem);
      }

    }
  });
})(jQuery);

function getSpinner() {

  $.ajax({
    url: 'http://baconipsum.com/api/?type=all-meat',
    dataType: 'json',
    beforeSend: function(xhr) {
      $("#baconIpsumOutput").html('');
      $.spin('true');
    }
  }).done(function(baconGoodness) {
    if (baconGoodness && baconGoodness.length > 0) {
      for (var i = 0; i < baconGoodness.length; i++)
        {if (window.CP.shouldStopExecution(1)){break;}$("#baconIpsumOutput").append('<p>' + baconGoodness[i] + '</p>');
window.CP.exitedLoop(1);
}
    }
  }).fail(function(xhr, textStatus, errorThrown) {
    alert(errThrown);
  }).always(function() {
    $.spin('false');
  });
}
//# sourceURL=pen.js
</script>



</body>
<footer>
    <!-- <hr> -->
    <!-- <table width=100%>
      <tr>
        <td><h3><a href="/archive">archive</a></h3></td>
        <td style="text-align: center"><h3><a href="/map">map</a></h3></td>
        <td style="text-align: right"><h3><a href="/modify_post">modify</a></h3></td>
      </tr>
    </table> -->
</footer>

</html>
