{% extends "base.html" %}
{% block content %}
{% load projection_filters %}
<h2>Projected Final Standings</h2>
<table id="proj_final_standings" class="sortable display table table-hover">
    <thead>
    <tr>
        <th>Total Points</th>
        <th>Team Name</th>
        <th>R</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>OPS</th>
        <th>W</th>
        <th>SV</th>
        <th>K</th>
        <th>ERA</th>
        <th>WHIP</th>
        <th>IP</th>
    </tr>
    </thead>
    <tbody>
    {% for team in standings %}
    <tr>
        <td>{{team.PointsTotal|floatformat}}</td>
        <td>{{team.team_name}}</td>
        <td>{{team.PointsR|floatformat}}</td>
        <td>{{team.PointsHR|floatformat}}</td>
        <td>{{team.PointsRBI|floatformat}}</td>
        <td>{{team.PointsSB|floatformat}}</td>
        <td>{{team.PointsOPS|floatformat}}</td>
        <td>{{team.PointsW|floatformat}}</td>
        <td>{{team.PointsSV|floatformat}}</td>
        <td>{{team.PointsK|floatformat}}</td>
        <td>{{team.PointsERA|floatformat}}</td>
        <td>{{team.PointsWHIP|floatformat}}</td>
        <td>{{team.StatsIP|floatformat:0}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Projected Final Stats</h2>
<table id="proj_final_stats" class="sortable display table table-hover">
    <thead>
    <tr>
        <th>Team Name</th>
        <th>R</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>OPS</th>
        <th>W</th>
        <th>SV</th>
        <th>K</th>
        <th>ERA</th>
        <th>WHIP</th>
        <th>IP</th>
        <th>K/IP</th>
    </tr>
    </thead>
    <tbody>
    {% for team in standings %}
    <tr>
        <td>{{team.team_name}}</td>
        <td>{{team.StatsR|floatformat}}</td>
        <td>{{team.StatsHR|floatformat}}</td>
        <td>{{team.StatsRBI|floatformat}}</td>
        <td>{{team.StatsSB|floatformat}}</td>
        <td>{{team.StatsOPS|floatformat:3}}</td>
        <td>{{team.StatsW|floatformat}}</td>
        <td>{{team.StatsSV|floatformat}}</td>
        <td>{{team.StatsK|floatformat}}</td>
        <td>{{team.StatsERA|floatformat:2}}</td>
        <td>{{team.StatsWHIP|floatformat:2}}</td>
        <td>{{team.StatsIP|floatformat:0}}</td>
        <td>{{team.StatsIP|divide:team.StatsK|floatformat:2}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Projected Final Volatility</h2>
<table id="proj_final_volatility" class="sortable display table table-hover">
    <thead>
    <tr>
        <th>Volatility(<small>Down</small> Up)</th>
        <th>Team Name</th>
        <th>R</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>OPS</th>
        <th>W</th>
        <th>SV</th>
        <th>K</th>
        <th>ERA</th>
        <th>WHIP</th>
    </tr>
    </thead>
    <tbody>
    {% for team in standings %}
    <tr>
        <td><small>{{team.Total_Downward_Volatility}} </small>{{team.Total_Upward_Volatility}}</td>
        <td>{{team.team_name}}</td>
        <td><small>{{team.DownVol_R}} </small>{{team.UpVol_R}}</td>
        <td><small>{{team.DownVol_HR}} </small>{{team.UpVol_HR}}</td>
        <td><small>{{team.DownVol_RBI}} </small>{{team.UpVol_RBI}}</td>
        <td><small>{{team.DownVol_SB}} </small>{{team.UpVol_SB}}</td>
        <td><small>{{team.DownVol_OPS}} </small>{{team.UpVol_OPS}}</td>
        <td><small>{{team.DownVol_W}} </small>{{team.UpVol_W}}</td>
        <td><small>{{team.DownVol_SV}} </small>{{team.UpVol_SV}}</td>
        <td><small>{{team.DownVol_K}} </small>{{team.UpVol_K}}</td>
        <td><small>{{team.DownVol_ERA}} </small>{{team.UpVol_ERA}}</td>
        <td><small>{{team.DownVol_WHIP}} </small>{{team.UpVol_WHIP}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}