{% extends "base.html" %}
{% block content %}
{% load projection_filters %}
<p>Last Update: {{players.0.last_modified|date:'n.j.Y' }}</p>
<br />
<label class="my-1 mr-2" for="posFilterChoice">Filter By Position:</label>
<select class="custom-select my-1 mr-sm-2" id="posFilterChoice" onchange="tableFilter('stat_table', this.id, 3)">
    <option value=1>all pos</option>
    {% if cat == "batter" %}
    <option value="C">C</option>
    <option value="1B">1B</option>
    <option value="2B">2B</option>
    <option value="SS">SS</option>
    <option value="3B">3B</option>
    <option value="OF">OF</option>
    {% elif cat == "pitcher" %}
    <option value="SP">SP</option>
    <option value="RP">RP</option>
    <option value="CL">CL</option>
    <option value="CL1">CL1</option>
    <option value="CL2">CL2</option>
    <option value="CL3">CL3</option>
    <option value="CLC">CLC</option>
    {% endif %}
</select>
<br/>
<table id="stat_table" class="sortable display table table-hover">
    <thead>
    <tr>
        <th>Value</th>
        <th>Name</th>
        <th>Team</th>
        <th>POS</th>
        <th>Status</th>
        <!-- <th>SGP</th> -->
        {% if cat == "batter" %}
        <th>AB</th>
        <th>R</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>OPS</th>
        <th>AVG</th>
        {% elif cat == "pitcher" %}
        <th>IP</th>
        <th>W</th>
        <th>SV</th>
        <th>K</th>
        <th>ERA</th>
        <th>WHIP</th>
        <th>K/IP</th>
        {% endif %}
    </tr>
    </thead>
    {% for player in players %}
    <tr>
        <td>${{player.dollarValue|floatformat:2}}</td>
        {% if request.user.profile.main_league %}
        <td><a href="https://baseball.fantasysports.yahoo.com/b1/{{request.user.profile.main_league|get_league_no}}/playersearch?&search={{player.name|url_safe_spaces}}" target="_blank">{{player.name}}</a></td>
        {% else %}
        <td>{{player.name}}</td>
        {% endif %}
        <td>{{player.team}}</td>
        <!--<td>{% for pos in player.pos %}{{pos}},{% endfor %}</td>-->
        <td>{{player.pos}}</td>
        {% if 'DL' in player.status %}
        <td style="color:red">{{player.status}}</td>
        {% elif 'MiLB' in player.status %}
        <td style="color:blue">{{player.status}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <!-- <td>{{player.sgp}}</td> -->
        {% if cat == "batter" %}
        <td>{{player.ab|floatformat}}</td>
        <td>{{player.r|floatformat}}</td>
        <td>{{player.hr|floatformat}}</td>
        <td>{{player.rbi|floatformat}}</td>
        <td>{{player.sb|floatformat}}</td>
        <td>{{player.ops|floatformat:3}}</td>
        <td>{{player.avg|floatformat:3}}</td>
        {% elif cat == "pitcher" %}
        <td>{{player.ip|floatformat}}</td>
        <td>{{player.w|floatformat}}</td>
        <td>{{player.sv|floatformat}}</td>
        <td>{{player.k|floatformat}}</td>
        <td>{{player.era|floatformat:2}}</td>
        <td>{{player.whip|floatformat:2}}</td>
        <td>{{player.kip|floatformat:2}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}