{% extends "base.html" %}
{% block content %}
{% load projection_filters %}
<div class="container">
    <div class="row" id="inSeasonTools1">
        <div class="col" id="faRater">
            <h4>FA Rater by Team/League</h4>
            <form class="form-inline" method="post" action="../../projections/top_fa/">
                {% csrf_token %}
                {% if request.user and not request.user.is_anonymous %}
                <!--&lt;!&ndash;<label class="my-1 mr-2" for="faLeagueNumber">Current Leagues:</label>&ndash;&gt;-->
                <!--<select class="custom-select my-1 mr-sm-2" id="faLeagueNumber" name="fa_league_key">-->
                <!--{% include 'includes/league_picker.html' %}-->
                <!--</select>-->
                <input type="hidden" value="{{league.league_key}}" name="fa_league_key">
                <!--TODO: this doesnt work-->
                {% else %}
                <!--<label class="my-1 mr-2" for="faLeagueNumber">League Number</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="faLeagueNumber" name="league_no" value="{{league_no}}" placeholder="League Number" />
                <!--<label class="my-1 mr-2" for="faTeamName">Team Name</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="faTeamName" name="team_name" value="{{team_name}}" placeholder="Team Name" />
                {% endif %}
                <button type="submit" class="btn btn-primary btn-sm" onclick="getSpinner()">find FAs</button>
            </form>
        </div>
        <div class="col" id="singlePlayerSearch">
            <h4>Single Player Search</h4>
            <form class="form-inline" method="post" action="../../projections/single_player/">
                {% csrf_token %}
                <!--<label class="my-1 mr-2" for="playerName">Player Name</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="playerName" name="player_name" value="{{player_name}}" placeholder="Player Name" />
                <button type="submit" class="btn btn-primary btn-sm" onclick="getSpinner()">search</button>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row" id="inSeasonTools2">
        <div class="col" id="tradeAnalyzer">
            <h4>Trade Analyzer</h4>
            <form class="form-inline" method="post" action="../../projections/trade_projection/">
                {% csrf_token %}
                {% if request.user and not request.user.is_anonymous %}
                <!--&lt;!&ndash;<label class="my-1 mr-2" for="tradeLeagueNo">League:</label>&ndash;&gt;-->
                <!--<select class="custom-select my-1 mr-sm-2" id="tradeLeagueNo" name="trade_league_key">-->
                <!--{% include 'includes/league_picker.html' %}-->
                <!--</select>-->
                <!--<label class="my-1 mr-2" for="tradeTeamA">Team A:</label>-->
                <input type="hidden" value="{{league.league_key}}" name="trade_league_key">
                <input type="text" class="form-control mb-2 mr-sm-2" id="tradeTeamA" name="team_a_name" value="{{team_a_name}}" placeholder="Team A Name" />
                <!--<label class="my-1 mr-2" for="tradeTeamB">Team B:</label>-->
                <input type="text" class="form-control mb-2 mr-sm-2" id="tradeTeamB" name="team_b_name" value="{{team_b_name}}" placeholder="Team B Name" />
                <!--TODO: this doesnt work-->
                {% else %}
                <!--<label class="my-1 mr-2" for="tradeLeagueNo">League Number:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="tradeLeagueNo" name="league_no" value="{{league_no}}" placeholder="League Number" />
                <br/>
                <!--<label class="my-1 mr-2" for="tradeTeamA">Team A:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="tradeTeamA" name="team_a_name" value="{{team_a_name}}" placeholder="Team A Name" />
                <!--<label class="my-1 mr-2" for="tradeTeamB">Team B:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="tradeTeamB" name="team_b_name" value="{{team_b_name}}" placeholder="Team B Name" />
                {% endif %}
                <button type="submit" class="btn btn-primary mb-2 btn-sm" onclick="getSpinner()">analyze</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
    <hr/>
    <div class="row" id="inSeasonTools3">
        <div class="col" id="projectedFinalStandings">
            <h4>Projected Final Standings</h4>
            <form class="form-inline" method="post" action="../../projections/projected_standings/">
                {% csrf_token %}
                {% if request.user and not request.user.is_anonymous %}
                <!--&lt;!&ndash;<label class="my-1 mr-2" for="finalStandingsProjection">Current Leagues:</label>&ndash;&gt;-->
                <!--<select class="custom-select my-1 mr-sm-2" id="finalStandingsProjection" name="proj_league_key">-->
                <!--{% include 'includes/league_picker.html' %}-->
                <!--</select>-->
                <input type="hidden" value="{{league.league_key}}" name="proj_league_key">
                <!--TODO: this doesnt work-->
                {% else %}
                <!--<label class="my-1 mr-2" for="finalStandingsLeagueNo">League Number:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="finalStandingsLeagueNo" name="league_no" value="{{league_no}}" placeholder="League Number" />
                {% endif %}
                <button type="submit" class="btn btn-primary mb-2 btn-sm" onclick="getSpinner()">project</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
    <hr/>
    <div class="row" id="keeperProjections">
        <div class="col" id="allKeepers">
            <h4>All Keepers</h4>
            <form class="form-inline" method="post" action="../../projections/all_keepers/">
                {% csrf_token %}
                {% if request.user and not request.user.is_anonymous %}
                <!--&lt;!&ndash;<label class="my-1 mr-2" for="finalStandingsProjection">Current Leagues:</label>&ndash;&gt;-->
                <!--<select class="custom-select my-1 mr-sm-2" id="allKeepersLeagueNo" name="all_keepers_key">-->
                <!--{% include 'includes/league_picker.html' %}-->
                <!--</select>-->
                <input type="hidden" value="{{league.league_key}}" name="all_keepers_key">
                <!--TODO: this doesnt work-->
                {% else %}
                <!--<label class="my-1 mr-2" for="allKeepersLeagueNo">League Number:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="allKeepersLeagueNo" name="all_keepers_key" value="{{all_keepers_key}}" placeholder="League Number" />
                {% endif %}
                <button type="submit" class="btn btn-primary mb-2 btn-sm" onclick="getSpinner()">display</button>
            </form>
        </div>
        <div class="col" id="projectedKeepers">
            <h4>Projected Keepers</h4>
            <form class="form-inline" method="post" action="../../projections/projected_keepers/">
                {% csrf_token %}
                {% if request.user and not request.user.is_anonymous %}
                <!--&lt;!&ndash;<label class="my-1 mr-2" for="projKeepersLeagueNo">Current Leagues:</label>&ndash;&gt;-->
                <!--<select class="custom-select my-1 mr-sm-2" id="projKeepersLeagueNo" name="proj_keepers_key">-->
                <!--{% include 'includes/league_picker.html' %}-->
                <!--</select>-->
                <input type="hidden" value="{{league.league_key}}" name="proj_keepers_key">
                <!--TODO: this doesnt work-->
                {% else %}
                <!--<label class="my-1 mr-2" for="projKeepersLeagueNo">League Number:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="projKeepersLeagueNo" name="proj_keepers_key" value="{{proj_keepers_key}}" placeholder="League Number" />
                {% endif %}
                <button type="submit" class="btn btn-primary mb-2 btn-sm" onclick="getSpinner()">project</button>
            </form>
        </div>
    </div>
    <br/>
    <div class="row" id="draftPrep">
        <div class="col" id="draftValues">
            <h4>Draft Values</h4>
            <form class="form-inline" method="post" action="../../projections/draft_values/">
                {% csrf_token %}
                {% if request.user and not request.user.is_anonymous %}
                <!--&lt;!&ndash;<label class="my-1 mr-2" for="draftValuesLeagueNo">Current Leagues:</label>&ndash;&gt;-->
                <!--<select class="custom-select my-1 mr-sm-2" id="draftValuesLeagueNo" name="draft_values_key">-->
                <!--{% include 'includes/league_picker.html' %}-->
                <!--</select>-->
                <input type="hidden" value="{{league.league_key}}" name="draft_values_key">
                <!--TODO: this doesnt work-->
                {% else %}
                <!--<label class="my-1 mr-2" for="projKeepersLeagueNo">League Number:</label>-->
                <input type="text" class="form-control my-1 mr-sm-2" id="draftValuesLeagueNo" name="draft_values_key" value="{{draft_values_key}}" placeholder="League Number" />
                {% endif %}
                <button type="submit" class="btn btn-primary mb-2 btn-sm" onclick="getSpinner()">project</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}