{% extends "base.html" %}
{% block content %}
{% load projection_filters %}
{% load tz %}
<div>
    <h2>Helpful Links</h2>
    <p><a href="{{yahoo_link}}">Link Yahoo! Account</a>
        <br/>
        <a href="/get_leagues">Get Yahoo! Leagues</a></p>
    <p><a href="https://baseball.fantasysports.yahoo.com/league/{{main_league.league_name|lower_and_remove_spaces}}/{{main_league.season}}" target="_blank">
        {{main_league.season}} - {{main_league.league_name}} - League Page</a></p>
    <p><a href="{{batter_url}}" target="_blank">Razzball Hitter Projections</a>
        <br/>
        <a href="{{pitcher_url}}" target="_blank">Razzball Pitcher Projections</a></p>
</div>
<div>
    <h2>Update Database Player Projections</h2>
    <p>
        {% if razzball_proj_update_datetime %}
        {% localtime off %}
        <strong>NEW PROJECTIONS AVAILABLE AS OF {{razzball_proj_update_datetime|date:'n.j.Y'}}</strong>
        {% endlocaltime %}
        {% else %}
        Projections are up to date
        {% endif %}
    </p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="/projections/process_players/" method="post" enctype="multipart/form-data" encoding='multipart/form-data'>
        {% csrf_token %}
        <label>batter/pitcher csv file</label>
        <input type="file" name="csv" />
        <input type="radio" name="player_type" value="batter" checked="checked" /> Batter<br />
        <input type="radio" name="player_type" value="pitcher" /> Pitcher<br />
        <button type="submit">import</button>
    </form>
    {% if elapsed %}
    <h6>Updated in {{elapsed|floatformat:2}} seconds</h6>
    {% endif %}
    <br/>
</div>
<div>
    <h2>Set Main League</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form method="post" action="../../projections/trade_projection/">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <select name="league_key">
                        {% for league in max_year_leagues %}
                        <option value="{{league.league_key}}">{{league.league_name}} - {{league.season}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type = "submit" />
                </td>
            </tr>

        </table>
    </form>
</div>
{% endblock %}